* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background-color: #e8e8e9;
  color: #02044a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 50%;
  height: 70%;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  /* text-align: center; */
}

input,
button {
  font-size: 14px;
  outline-width: 1px;
  outline-color: #0c75ff;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

input {
  background-color: #bedbd9;
}

h1 {
  color: #333;
}

h2 {
  margin-top: 20px;
  color: #008080;
}

button {
  font-weight: 600;
  border: none;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.item-submit {
  background-color: #b0cc82;
  color: #fff;
  margin-right: 0;
  margin-left: auto;
}
.item-remove-all {
  margin-top: 10px;
  background-color: #008080;
  color: #fff;
}

ul {
  margin-top: 5px;
  border-radius: 10px;
  background-color: #bedbd9;
  height: 65%;
  list-style: none;
}

li {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.checked {
  color: #cc0000;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin-right: 10px;
  margin-left: auto;
}
