* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

p {
  text-align: center;
}

img {
  width: 200px;
  height: auto;
}

.battlefield {
  display: flex;
  justify-content: space-around;
}

.health {
  color: #f7948e;
}

.paladin-energy {
  color: #333;
}

.magician-mana {
  color: #2d407d;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4e232e;
  color: #fff;
}

button:hover {
  cursor: pointer;
  background-color: red;
}

.d-none {
  display: none;
}
